<header class="header"> 
    <img src="https://cdn.pixabay.com/photo/2014/09/17/22/39/scales-of-justice-450203__340.png"   height="100px"><span>JUSTIPORT</span>
    <nav class="navigation"> 
      <a routerLink="/uslo" >Home</a>
      <a routerLink="/sec" >Section</a>
      <a  >Log Out</a>
      <a  ></a> 
    </nav> 
</header>
<section>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Attroneys</h2>
                <h2>The Attroneys Available </h2>
                <input type="search" name="search" placeholder="Search by name,type" class="se"  [(ngModel)]="searchText">
            </div>  
        </div>
    </div>
</div>
</section>
<section>

    <div class="law" *ngFor="let usr of readUser | filter:searchText" >
        <div class="law1"> 
        <img src="{{usr.image}}" alt="">
        <h1>{{usr.name}}</h1>
        </div>
        <div class="law2"> 
        <h3>{{usr.type}}</h3>
        <pre>
            <p>Number of cases Take Overed:{{usr.count}}
        
contact No:{{usr.phone}}
        
        
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Phasellus nec pretium mi. Curabitur facilisis ornare velit 
    non vulputate. Aliquam metus tortor, auctor id gravida condimentum,
    viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. 
    Aenean consectetur convallis porttitor. Aliquam interdum at lacus 
    non blandit
            </p>
        </pre>
        <button class="btn" [routerLink]="['/at',usr.id]">Consult</button>
        </div>
        </div>
        
 </section>
 
 <footer>
    <div class="footer-col">
     <h3>Solutions</h3>
     <li>Talk to Lawyer</li>
     <li>Property</li>
     <li>Document</li>
     <li>Ask Lawyer</li>
     <li>Lawyers click here</li>
     <li>Find Lawyers in Cities</li>

    </div>
    <div class="footer-col">
      <h3>Support</h3>  
     <li><i class="fa-solid fa-phone">+91-6374611820</i></li>
     
     <li><i class="fa-solid fa-messages">whatsapp</i></li>
     

    </div>
    <div class="footer-col">
     <h3>Company</h3>
     <li>About</li>
     <li>Contact Us</li>
     <li>Blogs</li>
     <li>Advisors</li>
     <li>Careers</li>

    </div>
    <div class="footer-col">
        <h3>Newsletter</h3>
        <p>You can trust us.we only send promo offers,</p>
        <div class="subscribe">
            <input type="text" placeholder="Your Email">
            <a href="#" class="yellow">SUBSCRIBE</a>
        </div>
       </div>
</footer>
