body{
    margin: 60px; 
 }
 .header{
     margin-top: 1px; 
     top: 0; 
     left: 0; 
     position: fixed; 
     width:1374px;
     /*background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://thumbs.dreamstime.com/b/horror-dense-ghostly-dark-forest-scary-creepy-night-landscape-clumsy-tree-branches-against-backdrop-moonlight-164191654.jpg");*/
     background-color: black;
     height:30px;
     padding: 2rem 1%;
     display: flex;
     margin-left: 55px;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     box-shadow: 4px 4px 2px #aa9166;
 }
 .navigation{
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     display: flex;
      
     flex-direction: row;
     justify-content: space-between;
     margin-top:  5px;
     width:1000px;
     height:50px;
     align-items: center;
     padding:1vw;
      
     
 }
 .header span{
     font-size:35px;
     font-family: 'Nosifer',cursive;
     padding-right:250px;
     color:#aa9166;
     font-weight: bold;
 } 
  
 .navigation a{
      text-decoration: none;
     color:#aa9166;
     font-size: 20px;
     font-style: calc();
     
 }
 .navigation a:hover{
     border-radius: 5px;
     border-width: .2rem;
     color:white;
 } 
 .page-header {

    width:99%;
    position: relative;
    margin-bottom: 45px;
    padding: 90px 0;
    text-align: center;
    background: #aa9166;
    font-family: 'Nosifer',cursive;
    font-size: 20px;
    text-decoration: none;
}
.law{
    display: flex;
    grid-template-columns: repeat(autofit,minmax(3rem,1fr));
    gap:4.5em;
    padding-left: 50px;
    margin-top: 100px;
}
.law1{
     background: black;
     height: 350PX;
     width: 300px;
     align-items: center;
}
.law1 img {
    margin-top: 20PX;
    margin-left: 50px;
    height: 240px;
    width: 160px;
}
.law1 h1{
    padding-left: 40px;
    color:#aa9166;
}
.law2{
    background: black;
    width: 1000px;
    padding-left: 30px;
    margin-right: 100px;
}
.law2 h3{
    margin-top: 50px;
    color: #aa9166;
    font-size: 20px;
}
.law2 pre p{
    font-size: 15px;
    color:rgb(193, 183, 183);
    
}
footer{
    margin-top: 20px;
    padding: 6vw;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-col{
    padding-bottom: 40px;

}
footer h3{
    color: #aa9166;
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color: #aa9166;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;

}
footer li:hover{
    color: aqua;
}
footer .subscribe{
    margin-top: 20px ;
}
footer input{
    width: 220px;
    padding:15px 12px;
    border: none;
    outline: none;
    color: black;
}
footer .subscribe a{
    text-decoration:none;
    font-size: 20px;
    padding: 13px 35px;
    background-color: aliceblue;
    font-weight: 600;
    border-radius:5px ;
}
footer .subscribe a.yellow{
    color:white;
    background:orange;
    transition: 0.3s ease;
}
footer .subscribe a.yellow:hover{
    color:black;
    background:white;
}
.heading {
    text-align: center;
    margin-bottom: 3rem;
    padding-right: 400px;
    color:black;
    
}
.feature-top { 
    margin-top: 2px;
    margin-bottom: 45px; 
    display:flex;
    grid-template-columns: repeat(autofit,minmax(6rem,1fr));
    gap: 0.1rem;
}

 
.feature-top .feature-item {
    padding: 30px 0;
    text-align: center;
    height: 120px;
    width: 350px;
    background: black;
     
}

.feature-top .feature-item i {
    color: #aa9166;
    font-size: 35px;
    margin-bottom: 10px;
}

.feature-top .feature-item h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.feature-top .feature-item p {
    color: #999999;
    margin: 0;
    font-size: 18px;
}
.btn{
    margin-bottom: 30px;
    color: #aa9166;
    background: #aa9166;
}
.btn a{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    color:black;
}
.btn a:hover{

}