<header class="header"> 
    <img src="https://cdn.pixabay.com/photo/2014/09/17/22/39/scales-of-justice-450203__340.png"   height="100px"><span>JUSTIPORT</span>
    <nav class="navigation"> 
      <a routerLink="" ></a>
      <a routerLink="" >Logout</a>
       
    </nav>
</header>
<div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2>Hii </h2>
              <h2>Check Who Messaged You!!! </h2>
               </div>  
      </div>
  </div>
</div>
